extends layout

block content
  h1#header Just another CRUDy quote app.
  .container
    
    .add-section
      .row
        .col-12
          h4 Add a new quote
      
      .row
        input(id="create-name" class="form-control form-control-md" type="text" placeholder="name" name="name")
      .row
        textarea(id="create-quote" placeholder="  quote" name="quote")
      .row
        button(id="save-quote" class="btn btn-success btn-sm" type="button") 
          i(class="fa fa-plus" aria-hidden="true")
        
    hr
     
    h3 Quotes
    
    ul#quotes
      each quote in quotes
        li.quote(id=quote._id)
          .row
            .col-xs-12.col-sm-8.col-md-6.col-lg-4
              i(class="fa fa-quote-left" aria-hidden="true")
              blockquote.quote-text= quote.quote
          .row
            .col-xs-12.col-sm-8.col-md-6.col-lg-4
              footer -
                cite.name-text= quote.name
          .row
            .col-3.col-md-2.col-lg-1
              button(class="update-btn btn btn-primary btn-sm" type="button")
                i(class="fa fa-pencil" aria-hidden="true")
            .col-3.col-md-2.col-lg-1
              button(class="delete-btn btn btn-danger btn-sm" type="button")
                i(class="fa fa-trash" aria-hidden="true")
          .update-info(class="hidden")
            .row
              .col-xs-12.col-sm-8.col-md-6.col-lg-4
                input(class="form-control form-control-md update-name" type="text" placeholder="name" name="name")
            .row
              .col-xs-12.col-sm-8.col-md-6.col-lg-4
                textarea(class="update-quote" placeholder="  quote" name="quote")
            .row
              .col-6.col-sm-6.col-md-3.col-lg-2(class="no-pad-right")
                button(class="update-confirm btn btn-success btn-sm" type="button")
                  i(class="fa fa-check" aria-hidden="true")
              .col-6.col-sm-6.col-md-3.col-lg-2(class="no-pad-left")
                button(class="cancel btn btn-danger btn-sm" type="button")
                  i(class="fa fa-times" aria-hidden="true")
