extends layout

block content
  .container
    h1 Just another CRUDy quote app
    
    h4 Add a new quote
    form(action="/quotes" method="POST")
      input(type="text" placeholder="name" name="name" required)
      input(type="text" placeholder="quote" name="quote" required)
      button(type="submit")
        i(class="fa fa-plus" aria-hidden="true")
      
    hr
    
    h3 Quotes
    ul.quotes
      each quote in quotes
        li.quote(id=quote._id)
          span= quote.name
          span= quote.quote
          button.update-btn
            i(class="fa fa-pencil" aria-hidden="true")
          button.delete-btn
            i(class="fa fa-trash" aria-hidden="true")
          .update-info(class="hidden")
            input(class="update-name" type="text" placeholder="name" name="name")
            input(class="update-quote" type="text" placeholder="quote" name="quote")
            button(id=quote._id class="update-confirm")
              i(class="fa fa-check" aria-hidden="true")
            button.cancel
              i(class="fa fa-times" aria-hidden="true")